main {
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    color: white;
}

.text-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    font-size: 22px;
    min-width: 400px;
    max-width: 500px;
    padding: 5px;
}

    .text-container input {
        margin-right: 10px;
        height: 24px;
        width: 170px;
    }

    .text-container span {
        position: absolute;
    }

    .text-container * {
        display: inline-block;
    }

.small-container {
    text-align: center;
    display: inline-block;
    padding: 5px;
}

#bRegister {
    width: 240px;
    height: 39px;
}

    .small-container * {
        width: 150px;
        height: 26px;
        text-align: center;
        display: inline-block;
    }

#bBox {
    display: flex;
    flex-direction: column;
}
