main {
    min-width: 1350px;
    display: flex;
    color: white;
}

#categories {
    width: 15%;
    margin-right: 5px;
    border: 2px solid #888;
}

#products {
    min-height: 600px;
    width: 84%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#list-cats li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #888;
    border-collapse: collapse;
}

#order-box {
    flex: 1;
    background: #808080;
    padding: 5px;
    min-width: 235px;
}

#lTotalPrice, #lbToMain, #bOrder {
    display: block;
}

#lTotalPrice {
    font-size: 26px;
    display: inline-block;
}
