main {
    min-width: 1350px;
    display: flex;
    color: white;
}

#categories {
    width: 15%;
    margin-right: 5px;
    border: 2px solid #888;
}

#products {
    width: 84%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#list-cats li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #888;
    border-collapse: collapse;
}

#categories ul {
    padding-top: 5px;
}

#categories {
    min-width: 215px;
}

.category-bt {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    min-height: 45px;
    font-size: 24px;
    list-style: none;
    border-bottom: 1px solid #888;
}

    .category-bt a {
        padding-top: 4px;
        box-sizing: border-box;
        display: block;
        text-decoration: none;
        min-height: 44px;
        color: white;
        width: 100%;
        height: 100%;
    }

#cat-tit {
    border-bottom: 2px solid #888;
    font-size: 32px;
    text-align: center;
    padding: 5px 0;
}
